# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "51d97034cab2c41e1e6f81d2f2ae461a"
name = "Adictiz-game"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "https://beauteprivee-adictiz-backend.onrender.com"
subpath = "adictiz"
prefix = "apps"

